@import "../../styles/variables";

.bracket-view {
  width: 100%;
  height: calc(100vh - 88px);
  overflow-x: auto;
  padding-bottom: 1rem;
  position: relative;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
  }
}
