@import "../../styles/variables";

.bracket-view {
  width: 100%;
  height: 100%;
  overflow-x: auto;
  padding-bottom: 1rem;
  position: relative;
  padding: 1rem;

  &__container {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
  }
}
