.player-slot {
  width: 100%;
  border-radius: 0.25rem;
  font-size: 1rem;
  transition: all 0.2s;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  &--empty {
    color: $text-muted;
  }

  &--default {
    font-size: 1.4rem;
    font-weight: 700;
  }

  &--winner {
    font-size: 1.4rem;
    font-weight: 700;
  }
}
