.player-slot {
  border-radius: 0.25rem;
  font-size: 1rem;
  transition: all 0.2s;

  &--empty {
    // background-color: #f3f4f6;
    color: $text-muted;
  }

  &--default {
    font-size: 1.2rem;
    background-color: white;
    color: #000;
    font-weight: 700;
  }

  &--winner {
    background-color: #d1fae5;
    color: #065f46;
    font-weight: 600;
  }
}
