.layout {
  min-height: 100vh;
  background-color: #f9fafb;

  &__main {
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem 1rem;

    @media (min-width: 640px) {
      padding: 2rem 1.5rem;
    }

    @media (min-width: 1024px) {
      padding: 2rem 2rem;
    }
  }
}
