.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid var(--color-border);
  height: 48px;

  &__container {
    width: 100%;
    max-width: 80rem;
    padding: 0.5rem 40px;
    @media (max-width: $breakpoint-mobile) {
      padding: 0.5rem 1.2rem;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__brand {
    display: flex;
    align-items: center;
  }

  &__logo {
    font-size: 1.25rem;
    font-weight: 700;
    color: #111827;
    text-decoration: none;

    &:hover {
      color: #1f2937;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__loading {
    color: #6b7280;
  }

  &__user {
    display: flex;
    align-items: center;
    gap: 0.9rem;
  }

  &__user-link {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    border-radius: 4px;
    transition: background 0.2s;
    color: #000000;
    &:hover {
      .navbar__username {
        color: $primary-color;
      }
    }
  }

  &__avatar {
    width: 30px;
    height: 30px;
    border-radius: 9999px;
    border: 1px solid #e5e7eb;
    transition: color 0.2s;
  }

  &__username {
    font-size: 0.9rem;
    color: #374151;
    transition: color 0.2s;
    font-weight: 700;
    @media (max-width: $breakpoint-mobile) {
      display: none;
    }
  }

  &__btn {
    padding: 6px 14px;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
    transition: all 0.2s;
    font-weight: 700;

    &--primary {
      background-color: $primary-color;
      color: white;

      &:hover {
        background-color: $primary-hover;
      }
    }

    &--text {
      background: none;
      color: #000000;
      padding: 0.5rem;
      font-size: 0.9rem;
      transition: color 0.2s;
      font-weight: 700;

      &:hover {
        color: $primary-color;
      }
    }
  }
}
